################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DMS/DesignTimeBuild
/.vs/DMS/v15/Server/sqlite3
/.vs/DMS/v16/Server/sqlite3
/.vs/DMS/v16/.suo
