################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DMS
/*/bin
/*/obj
/DMS.Data/DMS.Data.csproj.user
/DMS.Service/DMS.Service.csproj.user
